accelerate==1.2.0
aiohttp==3.9.3
anthropic==0.40.0
auto_gptq==0.7.1
datasets==3.2.0
deepsparse==1.8.0
dill==0.3.4
emoji==2.14.0
evaluate==0.4.1
filelock==3.16.1
flash_attn==2.7.1.post1
fugashi==1.4.0
gptqmodel==1.4.0
hf_transfer==0.1.8
huggingface_hub==0.24.2
immutabledict==4.2.1
Jinja2==3.1.4
jsonlines==4.0.0
langcodes==3.5.0
langdetect==1.0.9
lightning==2.4.0
mamba_ssm==2.2.4
more_itertools==10.5.0
nemo==6.0.3
neologdn==0.5.3
nltk==3.8.1
numpy==1.25.0
omegaconf==2.3.0
optimum==1.23.3
packaging==24.2
pandas==2.2.3
peft==0.12.0
promptsource==0.2.3
psutil==5.9.0
pycountry==24.6.1
pytablewriter==1.2.0
pytest==8.2.2
PyYAML==6.0.1
PyYAML==6.0.2
ray==2.40.0
regex==2023.12.25
Requests==2.32.3
rouge_score==0.1.2
sacrebleu==2.4.3
scikit_learn==1.4.1.post1
scipy==1.14.1
setuptools==69.5.1
sparseml==1.8.0
sqlitedict==2.1.0
sympy==1.13.1
tenacity==9.0.0
tiktoken==0.7.0
torch==2.5.1+cu124
torch_xla==2.5.1
tqdm==4.67.1
transformers==4.45.2
vllm==0.6.4.post1
wandb==0.19.1
word2number==1.1
zstandard==0.23.0
